.enter-button {
  @include link-transition(700ms);
  width: 200px;
  background-color: $lt-bellini;
  border: 2px solid $white;
  color: $white !important;
  font-weight: 700;
  font-size: 1.25em;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 1% auto;
  &:hover, &:active {
    background-color: $dk-blue;
    color: $blue !important;
    border: 2px solid $blue;
  }
  &:visited {
    color: $white !important;
    border: 2px solid $white;
  }
}

.drop-button {
  @include link-transition(700ms);
  float: right;
  width: 25%;
  background-color: $lt-bellini;
  border: 2px solid $dk-bellini;
  color: $white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin-top: 2%;
  &:hover, &:active {
    color: $dk-yellow;
    border: 2px solid $lt-yellow;
  }
  &:visited {
    color: $lt-bellini;
    border: 2px solid $dk-bellini;
  }

}

.button-slide-up {
  @include link-transition(700ms);
  width: 25%;
  background-color: $lt-bellini;
  border: 2px solid $dk-bellini;
  color: $white;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  margin-top: 2%;
  &:hover, &:active {
    color: $dk-yellow;
    border: 2px solid $lt-yellow;
  }
  &:visited {
    color: $lt-bellini;
    border: 2px solid $dk-bellini;
  }

}