.intro{
  background-color: $white;
}

.intro-title {
  font-size: 5em;
  font-weight: 900;
  color: $dk-gray;
  margin: 10% 0 0 5%;
}

.intro-subtitle {
  font-size: 3em;
  font-weight: 300;
  color: $dk-gray;
  margin: 5% 0 0 5%;
}



.mlc-welcome{
  display: block;
  margin: 1% auto;
}

